/* 
==================================================
    Display Configuration
==================================================
*/

html, body {
    scroll-behavior: smooth;    /* Smooth scroll */
    scrollbar-width: none;      /* Remove scrollbar */
    margin: 0;                  /* Remove body margins */
}

/* Remove scrollbar for other browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; 
}

/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable Declaration */
:root {
    /* Text Colors */
    --ink: #ffffff;
    --text-muted: #bbbbbd;
    --text-highlight: rgb(221, 0, 255);

    /* Gradients */
    --bright-gradient: linear-gradient(90deg,
        rgba(221, 0, 255, 1) 0%,
        rgba(255, 136, 0, 1) 100%);
    --paper-gradient: linear-gradient(
        var(--paper), 
        var(--paper)
        );

    /* Document Colors */
    --paper: #000000;

    /* Page Separator */
    --line: #e3d9c9; 

    /* Other Settings */
    --radius: 2.5em;
    --radius-max: 9999px;
}
/* For gradients: https://cssgradient.io/ */

/* 
==================================================
    Default Elements
==================================================
*/

body {
    font-family: "Outfit", "Inter", sans-serif;
    color: var(--ink);
    background-color: var(--paper);
    line-height: 1.6;
}

img {
    object-fit: cover;
}

h1, h2, h3 {
    font-family: "STIX Two Text", 'Times New Roman', Times, serif;
    
    line-height: 1;
    font-weight: normal;
}

h1 { 
    font-size: 3.5em; 
    letter-spacing: -0.05em;
}
h2 { 
    font-size: 2.5em; 
    letter-spacing: -0.05em;
}
h3 { 
    font-size: 1.5em; 
    letter-spacing: 0em;
}

.section-header {
    margin-top: 10vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    letter-spacing: -0.06em;
    font-size: clamp(6rem, 10vw, 15rem);
}

hr {
    width:90vw;
    justify-self: center;
    border: solid;
    border-width: 0 0 0.1px 0;
    border-color: var(--line);
    margin: 25vh 0;
}

.subtitle {
    margin-bottom: 4vh;
    color: var(--text-muted);
    font-size: 1.2em;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 
==================================================
    NAVBAR HEADER
==================================================
*/

/* Line Break */
.site-header { 
    border-bottom: 1px solid var(--line);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
}

.site-header nav {
    display: flex;
    gap: 2rem;
}

.site-header nav a {
    color: var(--ink);
    text-decoration: none;
    font-size: 0.95rem;

    background-image: var(--bright-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    transition: color 0.3s ease;
}

.site-header nav a:hover {
    color: transparent;
}

/* Brand Logo & Text */
.brand {
    display: flex;
    text-decoration: none;
    font-family: "Outfit", "Inter", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2em;

}
.brand p {
    padding-left: 2vh;
    font-size: 1rem;
    color: var(--ink);
}

.brand img {
    width: 3vh;
    height: 3vh;
}

/* 
==================================================
    FOOTER
==================================================
*/

.site-footer {
    padding: 1.5rem;
    color: var(--text-muted);
    font-size: 0.85rem;
    border-top: 1px solid var(--line);
}

/* Logo */

.brand-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10rem;
}

.brand-logo img{
    width: 20vw;
    aspect-ratio: 1;
    display: none;
}
.brand-logo p {
    font-family: "Outfit", "Inter", sans-serif;
    font-weight: bold;
    font-size: 10vw;
    letter-spacing: 0.5vw;
    margin: 5vw;
    
    background-image: var(--bright-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}