#education {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: flex-start;
}

#education-header{
    position: sticky;
    margin-top: 10em;
    top: 1.25em;
    align-self: flex-start;
    background-color: var(--paper);
    z-index: 1;
    box-shadow: 0 1em 0 1rem var(--paper);
}

#education-list {
    width: 100%;
}

@media (max-width: 1000px) {
    #education {
        flex-direction: column;
    }
    #education-header {
        top: 0em;
        width:100%;
        padding: 0.3em 0;
    }
}

.education-box {
    position: relative;
    z-index: 0;

    list-style-position: inside;
    border-radius: var(--radius);
    padding: 5em 3em;
    margin: 5em 0;
    background-color:rgb(38, 38, 38);
    list-style: none;

    /* Layout Management */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Animations */
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

/* Pop out on hover */
.education-box:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 25px rgba(221, 0, 255, 0.3);
}
.education-box h2 {
    text-align: center;
}
.education-box ul {
    padding: 1em;
}
.education-box img {
    width: 12em;
    margin: 2em;
    object-fit: contain;
    border-radius: 2em;
}

@media (max-width: 1000px) {
    .education-box img {
        width: 10em;
    }
}
