/* 
==================================================
    FASHION SECTION
==================================================
*/

#portrait-gallery{
    display: flex;
    flex-direction: column;
}

#portrait-gallery img{
    width: 50vw;
}