/* 
==================================================
    NAVBAR HEADER
==================================================
*/

/* Line Break */
.site-header { 
    border-bottom: 1px solid var(--line);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.5rem;
}

.site-header nav {
    display: flex;
    gap: 2rem;
}

.site-header nav a {
    color: var(--ink);
    text-decoration: none;
    font-size: 0.95rem;

    background-image: var(--bright-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    transition: color 0.3s ease;
}

.site-header nav a:hover {
    color: transparent;
}

/* Brand Logo & Text */
.brand {
    display: flex;
    text-decoration: none;
    font-family: "Outfit", "Inter", sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2em;

}
.brand p {
    padding-left: 2vh;
    font-size: 1rem;
    color: var(--ink);
}
@media (max-width: 800px) {
    .brand p {
        display: none;
    }
}
.brand img {
    width: 3vh;
    height: 3vh;
}

/* 
==================================================
    FOOTER
==================================================
*/

.site-footer {
    padding: 1.5rem;
    color: var(--text-muted);
    font-size: 0.85rem;
    border-top: 1px solid var(--line);
}

/* Logo */

.brand-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10rem;
}

.brand-logo img{
    width: 20vw;
    aspect-ratio: 1;
    display: none;
}
.brand-logo p {
    font-family: "Outfit", "Inter", sans-serif;
    font-weight: bold;
    font-size: 10vw;
    letter-spacing: 0.5vw;
    margin: 5vw;
    
    background-image: var(--bright-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}