{% extends "base.html" %}
{% load static %}

{% block title %}{{ name }} - Education{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/education.css">
{% endblock %}
    
{% block content %}
    <section id="education" class="container">
        <div id="education-header">
            <h1 class="section-header">Education</h1>
            <p class="subtitle">The past predicts the future</p>
        </div>
        <ol id="education-list">
            <li class="education-card">
                <img src="../static/img/education/logo_sd.png">
                <h2>SD Santa Maria Purwokerto</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li class="education-card">
                <div class="dark-overlay"></div>
                <img src="../static/img/education/logo_smp.png">
                <h2>SMP Susteran Purwokerto</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li class="education-card">
                <div class="dark-overlay"></div>
                <img src="../static/img/education/logo_sma.jpeg">
                <h2>SMA Sedes Sapientiae Jambu</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
            <li class="education-card">
                <div class="dark-overlay"></div>
                <img src="../static/img/education/logo_ui.webp">
                <h2>Universitas Indonesia</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
            </li>
        </ol>
    </section>
{% endblock %}