{% extends "base.html" %}
{% load static %}

{% block title %}{{ name }} - Education{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/education.css">
{% endblock %}
    
{% block content %}
    <section id="education" class="container">
        <div id="education-header">
            <h1 class="section-header">Education</h1>
            <p class="subtitle">The past predicts the future</p>
        </div>
        <ol id="education-list">
            {% for education in education_list %}
                <li class="education-card">
                    <div class="dark-overlay"></div>
                    <img src="{{ education.logo }}">
                    <h2>{{ education.school }}</h2>
                    <p class="education-year">
                        {{ education.start_year }} - {{ education.end_year }}
                    </p>
                    <p class="education-description">
                        {{ education.description }}
                    </p>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}